.navbar-inner {
  background-color: #80a532;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: none !important;
  margin-top: 5px;
}
