attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.15.0
bibtexparser==2.0.1
bs4==0.0.2
certifi==2026.7.22
charset-normalizer==3.5.1
cldfbench==2.0.1
-e git+https://github.com/cldf-datasets/wals@81298aa26d01fdc11b769bcc7fa87ad9e43d7ccd#egg=cldfbench_wals
cldfcatalog==1.7.0
cldfzenodo==3.0.0
clld==11.5.5
clld_markdown_plugin==1.0.0
clldmpg==4.4.0
clldutils==4.0.0
colorlog==6.12.0
commonnexus==2.0.0
coverage==7.16.2
csvw==4.1.0
gitdb==4.0.12
GitPython==3.1.62
greenlet==3.5.6
h11==0.16.0
html5lib==1.1
hupper==1.12.1
idna==3.20
iniconfig==2.3.0
isodate==0.7.2
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
language-tags==1.3.1
latexcodec==3.0.1
linglit==1.8.0
lxml==6.1.3
Mako==1.4.3
Markdown==3.11
MarkupSafe==3.0.3
mock==5.2.0
nameparser==2.3.0
newick==1.11.0
outcome==1.3.0.post0
packaging==26.3
PasteDeploy==3.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.12.1
pluggy==1.6.0
prettytable==3.18.0
psycopg2-binary==2.9.13
pycldf==2.1.1
pycountry==26.2.16
pyglottolog==4.0.1
Pygments==2.21.0
pyigt==2.3.0
pylatexenc==2.11
pyparsing==3.3.3
pyramid==2.1
pyramid-mako==1.1.0
pyramid_tm==2.6
PySocks==1.7.1
pytest==9.1.1
pytest-cldf==0.3.0
pytest-clld==1.3.0
pytest-cov==7.1.0
pytest-mock==3.16.0
python-dateutil==2.9.0.post0
python-frontmatter==1.3.0
python-nexus==2.9.0
PyYAML==6.0.3
RapidFuzz==3.14.6
rdflib==7.6.0
referencing==0.37.0
regex==2026.9.10
requests==2.34.2
rfc3986==1.5.0
rpds-py==2026.6.3
segments==2.4.0
selenium==4.49.0
setuptools==80.10.2
simplepybtex==0.1.0
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.10
SQLAlchemy==1.4.54
termcolor==3.3.0
TexSoup==0.3.3
thefuzz==0.22.1
tqdm==4.70.1
transaction==5.1
translationstring==1.4
trio==0.34.0
trio-websocket==0.12.2
typing_extensions==4.16.0
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.8.0
venusian==3.1.1
waitress==3.0.2
-e git+https://github.com/clld/wals3@1dbb9452403bbe09a52395e5be2b8e9b71c89250#egg=wals3
wcwidth==0.9.1
webassets==3.0.0
webencodings==0.6.1
WebOb==1.8.11
websocket-client==1.9.2
WebTest==3.0.7
wsproto==1.3.2
zope.component==7.1
zope.deprecation==6.0
zope.dottedname==7.1
zope.event==6.2
zope.hookable==8.3
zope.interface==8.6
zope.sqlalchemy==4.1
